<div class="row" style="background-color: #EFEFEF;">
	<div class="col-md-6">
		<div class="cols">
			<h5>REVIEW</h5>
			<hr style="border-bottom: 1px solid #eee;margin-top: 13px;">
			<div>
				<nvd3 options="options" data="data"></nvd3>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="cols">
			<h5>SERVICE</h5>
			<hr style="border-bottom: 1px solid #eee;margin-top: 13px;">
			<div>
				<nvd3 options="options1" data="data1"></nvd3>
			</div>
		</div>
	</div>
</div>
<div class="row" style="background-color: #EFEFEF;">
	<div class="col-md-6">
		<div class="cols">
			<h5>NETWORK</h5>
			<hr style="border-bottom: 1px solid #eee;margin-top: 13px;">
			<div>
				<nvd3 options="options2" data="data2"></nvd3>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="cols">
			<h5>PLAN</h5>
			<hr style="border-bottom: 1px solid #eee;margin-top: 13px;">
			<div>
				<nvd3 options="options3" data="data3"></nvd3>
			</div>
		</div>
	</div>
</div>
<div class="row" style="background-color: #EFEFEF;">
	<div class="col-md-6">
		<div class="cols">
			<h5>PRODUCT</h5>
			<hr style="border-bottom: 1px solid #eee;margin-top: 13px;">
			<div>
				<nvd3 options="options4" data="data4"></nvd3>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="cols">
			<h5>PLAN</h5>
			<hr style="border-bottom: 1px solid #eee;margin-top: 13px;">
			<div>
				<nvd3 options="options5" data="data5"></nvd3>
			</div>
		</div>
	</div>
</div>

